<nav class="navbar header-top sticky-top navbar-expand-lg  navbar-blue">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="./assets/img/logo1.jpg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-md-auto d-md-flex">
                <li class="nav-item">
                    <a class="nav-link" routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About Us
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Products</a>
                </li>
              
                <li class="nav-item">
                    <a class="nav-link">Contact Us</a>
                </li>
            </ul>
            <a class="btn btn-warning" href="#apply">Apply</a>
        </div>
    </div>
</nav>