<!-- <div id="footer">
  <div class="container">
    <p class="footer-block">© Copyright 2018 loanpalace.co.in. All Rights Reserved.</p>
  </div>
</div> -->


<!-- Start Footer bottom Area -->
<footer>
  <div class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft">
            <h4>Quick Links</h4>
          <div class="footer-links">
            <ul>
              <li>
                <a routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About Us</a>
              </li>
              <li>
                <a routerLink="products" routerLinkActive="active">Products</a>
              </li>
              <li>
                  <a routerLink="products" routerLinkActive="active">Customer Feedback</a>
                </li>
                <li>
                  <a routerLink="referandearn" routerLinkActive="active">Refer & Earn</a>
                </li>
            </ul>
          </div>
        </div>
        <!-- end single footer -->
        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp">
            <h4>Reach Us</h4>
            <div class="reach-us">
            <div class="footer-contacts">
              <p><span><i class="fas fa-map-marker-alt"></i></span> Loan Palace, Fortune Business Center, 101-A, Kaspate Vasti, Wakad - 411057</p>
              <p><span><i class="fas fa-mobile-alt"></i></span> 8830764438 / 9370264113</p>
              <p><span><i class="fas fa-envelope"></i></span> info@loanpalace.co.in</p>
              <p><span><i class="far fa-clock"></i></span> 9:30AM - 7PM</p>
            </div>
          </div>
        </div>
        <!-- end single footer -->
        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight">
          <div class="footer-content">
          
              <h4>Follow Us</h4>
              <div class="footer-icons">
                <ul>
                  <li>
                    <a href="https://www.facebook.com/loanpalace/" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"><i class="fab fa-twitter"></i> Twitter</a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/company/loanpalace/" target="_blank"><i class="fab fa-linkedin-in"></i> Linkedin</a>
                  </li>
                  
                </ul>
              </div>
         
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-area-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <p class="footer-block">© Copyright 2018 loanpalace.co.in. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
