<div class="refer-head-area">
  <div class="overly"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2>Refer & Earn</h2>
            <h4>For any Query / Details Please Feel Free to Call Us @  8830721283</h4>
        </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="our-profile">
  <div class="container title-margin">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center wow fadeInDown">
            <h2>How it Works</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
                <i class="far fa-handshake wow fadeInUp"></i>
              <p>
                LOAN PALACE has launched this scheme for the benefits of both the
                parties i.e. referrer &amp; referred . In this schemen referrer gets Rs 5000 by
                referring 1 lead and the one who gets reffred is also eligible for the free
                home loan. The scheme is valid for the loan from 30 lac and above and
                after the completetion of loan process of the reffered one. This schemen is
                applicable for all type of home loan I . e. NEW HOME LOAN , RESALE
                HOME LOAN &amp; TRANSFER OF HOME LOAN. Referrer gets time to time
                updates for the lead provided , So its easy to track and get updated.
              </p>
              <p class="note"><strong>Note:</strong> Scheme applicable only for PUNE &amp; PCMC</p>
            </div>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-12">
          <div class="apply-form">
            <form>
              <h4 class="text-center">Referrer</h4>
                <div class="form-row align-items-center justify-content-center">
                  <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput">Name</label>
                    <input type="text" class="form-control" id="inlineFormInput" placeholder="Name">
                  </div>
                  <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput">Contact</label>
                    <input type="text" class="form-control" id="inlineFormInput" placeholder="Contact">
                  </div>
                  <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Username</label>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Your Email">
                  </div>
                  
                  <!-- <div class="col-auto">
                    <button type="submit" class="btn btn-warning">Enquiry</button>
                  </div> -->
                </div>
                <h4 class="text-center">Referred</h4>
                <div class="form-row align-items-center justify-content-center">
                  <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput">Name</label>
                    <input type="text" class="form-control" id="inlineFormInput" placeholder="Name">
                  </div>
                  <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput">Contact</label>
                    <input type="text" class="form-control" id="inlineFormInput" placeholder="Contact">
                  </div>
                  <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Username</label>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Your Email">
                  </div>
                  
                  <!-- <div class="col-auto">
                    <button type="submit" class="btn btn-warning">Enquiry</button>
                  </div> -->
                </div>
                <div class="form-row align-items-center justify-content-center">
                    <button type="submit" class="btn btn-danger refer-btn">Refer Now</button>
                </div>
              </form>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

  