<div class="product-head-area contact">
  <div class="overly"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2>Contact Us</h2>
        </div>
  </div>
</div>

 <!-- Start contact Area -->
 <div id="contact" class="contact-area">
    <div class="contact-inner area-padding">
      <div class="contact-overly"></div>
      <div class="container ">
        <div class="row">
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft">
            <div class="contact-icon text-center">
              <div class="single-icon">
                  <i class="fas fa-mobile-alt"></i>
                <p>
                  Call: 8830764438 / 9370264113<br>
                  <span>Monday-Sunday (9am-7pm)</span>
                </p>
              </div>
            </div>
          </div>
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12 wow fadeIn">
            <div class="contact-icon text-center">
              <div class="single-icon">
                  <i class="fas fa-envelope"></i>
                <p>
                  Email: info@loanpalace.co.in<br>
                  <span>Web: www.loanpalace.co.in</span>
                </p>
              </div>
            </div>
          </div>
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight">
            <div class="contact-icon text-center">
              <div class="single-icon">
                  <i class="fas fa-map-marker-alt"></i>
                <p>
                    Loan Palace, Fortune Business Center, <br>
                  <span>101-A, Kaspate Vasti, Wakad - 411057</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <!-- Start Google Map -->
          <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft">
            <!-- Start Map -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3781.4771154114696!2d73.77178791489396!3d18.597597887364117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b9137e8fce11%3A0xb1e40a75882582b3!2sFortune+Business+Center!5e0!3m2!1sen!2sin!4v1536855536611" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            <!-- End Map -->
          </div>
          <!-- End Google Map -->

          <!-- Start  contact -->
          <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight">
            <div class="form contact-form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input [(ngModel)]="contactus.name" type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input [(ngModel)]="contactus.email" type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input [(ngModel)]="contactus.subject" type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea [(ngModel)]="contactus.message" class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button class="btn btn-danger" (click)="sendMessage()">Send Message</button></div>
              </form>
            </div>
          </div>
          <!-- End Left contact -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Contact Area -->