

<div class="our-profile type-of">
  <div class="container title-margin3">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center wow fadeInDown">
            <h2>Types of Home Loan</h2>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
                <i class="fas fa-home wow fadeInUp"></i>
               
                <h4>New Home Loan</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="far fa-money-bill-alt wow fadeInUp"></i>
              <h4>Balance Transfer<br> (Take Over)</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="fas fa-chalkboard-teacher wow fadeInUp"></i>
              <h4>Resale Home Loan</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="clearfix"></div>
  <div class="product-head-area">
    <div class="overly"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <h2>Products</h2>
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active sbi-btn" (click)="sbiScroll()" data-toggle="tab" href="#sbi"> SBI Home Loan Products </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click)="hdfcScroll()" data-toggle="tab" href="#hdfc"> HDFC Home Loan Products</a>
                </li>
              </ul>
          </div>
    </div>
  </div>
  <div class="products-details">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="tab-content">
            <div class="tab-pane container active" id="sbi">
                <h3>Term Loan</h3>
                <p>It’s a normal home loan products which
                  is offered by every banks in which there is a specific time
                  period in which the borrower have to pay regular emi.</p>

                  <h3>Maxgain</h3>
                  <p>It is same as term loan but the additional
                    feature of this product is that it works as a overdraft
                    facility. In this products borrower can put their extra funds
                    in home loan account and can save a lot on interest part.
                    Whenever borrower feels to take out their extra funds they
                    can withdraw.</p>

                    <h3>Privilege</h3>
                    <p>This products is same as term loan but
                      specially designed for the government employee with
                      increased loan tenure upto 75 years and this helps in
                      increasing their eligibility.</p>

                      <h3>Shaurya</h3>
                    <p>This is also same as term loan but designed
                      for Young generation in which their eligibility is increased.</p>

                      <div class="enquiry-btn blue-enquiry">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                         Enquiry with SBI
                        </button>
                      </div>
            </div>
            <div class="tab-pane container fade" id="hdfc">
              <h3>Term Loan</h3>
              <p>It’s a normal home loan products which
                is offered by every banks in which there is a specific time
                period in which the borrower have to pay regular emi.</p>
                    <div class="enquiry-btn">
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                       Enquiry with HDFC
                      </button>
                    </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<!-- Testimonial Section -->
<section id="testimonial" class="section">
    <!-- Container Starts -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-headline text-center wow fadeInDown">
                <h2>Happy Customers</h2>
              </div>
            </div>
          </div>
      <div class="row wow fadeInUp">
        <div class="col-sm-12">
          <div id="testimonial-item" class="owl-carousel">
            <div class="item">
              <div class="testimonial-inner">
                <div class="testimonial-images">
                  <img class="img-circle" src="./assets/img/img1.jpg" alt="">
                </div>
                <div class="testimonial-content">
                  <p>
                    Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                  </p>
                </div>
                <div class="testimonial-footer">
                  <i class="fa fa-quote-left"></i>
                 Nitin Patil
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-inner">
                <div class="testimonial-images">
                  <img class="img-circle" src="./assets/img/img2.jpg" alt="">
                </div>
                <div class="testimonial-content">
                  <p>
                    Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                  </p>
                </div>
                <div class="testimonial-footer">
                  <i class="fa fa-quote-left"></i>
                  Deepak Walunj
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-inner">
                <div class="testimonial-images">
                  <img class="img-circle" src="./assets/img/img3.jpg" alt="">
                </div>
                <div class="testimonial-content">
                  <p>
                    Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                  </p>
                </div>
                <div class="testimonial-footer">
                  <i class="fa fa-quote-left"></i>
                 Rachana Kathare
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-inner">
                <div class="testimonial-images">
                  <img class="img-circle" src="./assets/img/img4.jpg" alt="">
                </div>
                <div class="testimonial-content">
                  <p>
                    Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                  </p>
                </div>
                <div class="testimonial-footer">
                  <i class="fa fa-quote-left"></i>
                Mahendra Patil
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-inner">
                <div class="testimonial-images">
                  <img class="img-circle" src="./assets/img/img5.jpg" alt="">
                </div>
                <div class="testimonial-content">
                  <p>
                    Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                  </p>
                </div>
                <div class="testimonial-footer">
                  <i class="fa fa-quote-left"></i>
                 Sachin Deshmukh
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- Container Ends -->
  </section>
  <!-- Testimonial Section End --> 
  
      <div class="clearfix"></div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Enquiry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Your Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nitin Patil">
              </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Your Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="form-group">
              <label for="exampleFormControlInput1">Your Contact</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="9855667799">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Loan Required</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="25,000,00">
              </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Send Enquiry</button>
      </div>
    </div>
  </div>
</div>