<div class="product-head-area">
  <div class="overly"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2>Our Products</h2>
          <div class="products-btn">
            <button type="submit" class="btn btn-warning">Apply with SBI </button>
            <button type="submit" class="btn btn-warning">Apply with HDFC</button>
          </div>
        </div>
  </div>
</div>

<!-- Testimonial Section -->
<section id="testimonial" class="section">
    <!-- Container Starts -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-headline text-center wow fadeInDown">
                <h2>Happy Customers</h2>
              </div>
            </div>
          </div>
      <div class="row wow fadeInUp">
        <div class="col-sm-12">
          <div id="testimonial-item" class="owl-carousel">
            <div class="item">
              <div class="testimonial-inner">
                <div class="testimonial-images">
                  <img class="img-circle" src="./assets/img/img1.jpg" alt="">
                </div>
                <div class="testimonial-content">
                  <p>
                    Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                  </p>
                </div>
                <div class="testimonial-footer">
                  <i class="fa fa-quote-left"></i>
                 Nitin Patil
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-inner">
                <div class="testimonial-images">
                  <img class="img-circle" src="./assets/img/img2.jpg" alt="">
                </div>
                <div class="testimonial-content">
                  <p>
                    Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                  </p>
                </div>
                <div class="testimonial-footer">
                  <i class="fa fa-quote-left"></i>
                  Deepak Walunj
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-inner">
                <div class="testimonial-images">
                  <img class="img-circle" src="./assets/img/img3.jpg" alt="">
                </div>
                <div class="testimonial-content">
                  <p>
                    Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                  </p>
                </div>
                <div class="testimonial-footer">
                  <i class="fa fa-quote-left"></i>
                 Rachana Kathare
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-inner">
                <div class="testimonial-images">
                  <img class="img-circle" src="./assets/img/img4.jpg" alt="">
                </div>
                <div class="testimonial-content">
                  <p>
                    Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                  </p>
                </div>
                <div class="testimonial-footer">
                  <i class="fa fa-quote-left"></i>
                Mahendra Patil
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-inner">
                <div class="testimonial-images">
                  <img class="img-circle" src="./assets/img/img5.jpg" alt="">
                </div>
                <div class="testimonial-content">
                  <p>
                    Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                  </p>
                </div>
                <div class="testimonial-footer">
                  <i class="fa fa-quote-left"></i>
                 Sachin Deshmukh
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- Container Ends -->
  </section>
  <!-- Testimonial Section End --> 
  
  
  <div class="our-profile">
      <div class="container title-margin">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-headline text-center wow fadeInDown">
                <h2>How IT Works</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="contact-icon text-center">
                <div class="single-icon">
                    <i class="fas fa-chalkboard-teacher wow fadeInUp"></i>
                    <h4>Vision</h4>
                  <p>
                    To be the best home loan service provider in  whole pune. Making home loan process hassle free  Sourcing the genuine customers for our bank.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="contact-icon text-center">
                <div class="single-icon">
                  <i class="far fa-money-bill-alt wow fadeInUp"></i>
                  <h4>Mission</h4>
                  <p>
                    Delivering excellent loan service  Brand awareness of LOAN PALACE in minds  of customer which looking for home loan.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="contact-icon text-center">
                <div class="single-icon">
                  <i class="fas fa-laptop wow fadeInUp"></i>
                  <h4>Value</h4>
                  <p>
                    Reliablity, Creative, Loyalty, Ethical
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>