

<div id="demo" class="carousel slide" data-ride="carousel">
   
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li> 
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
       
      <div class="carousel-item active">
          <div class="overlay"></div>
        <img src="./assets/img/slider1.jpg" alt="Los Angeles">
        <div class="hero">
            <h1>Best Home Loan Service</h1>
            <h3>Get a best home loan service with our polite exicutive.</h3>
            <button class="btn btn-danger btn-lg" role="button">Get a Loan</button>
        </div>
      </div>
      <div class="carousel-item">
          <div class="overlay"></div>
        <img src="./assets/img/slider2.jpg" alt="Chicago">
        <div class="hero">
            <h1>We are amazing</h1>
            <h3>Get start your next awesome project</h3>
            <button class="btn btn-danger btn-lg" role="button">Get a Loan</button>
        </div>
      </div>
      <div class="carousel-item">
          <div class="overlay"></div>
        <img src="./assets/img/slider3.jpg" alt="New York">
        <div class="hero">
            <h1>We are amazing</h1>
            <h3>Get start your next awesome project</h3>
            <!-- <button class="btn btn-primary btn-lg" role="button">See all features</button> -->
        </div>
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
   
  </div>


  <!-- Start About area -->
<div id="about" class="title-margin about-us">
    <div  class="container">
      <div class="row wow fadeInDown">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>About Us</h2>
          </div>
          <p class="about-text">
            At Loan Palace we make the process of home loan simple ,
            quick &amp; hassle-free.</p>
            <p>   Loan palace is a authorized service provider for SBI HOME
LOAN &amp; HDFC HOME LOAN . It was started in the year
January 2012. LOAN PALACE is the first organized company
in pune to work for the benefits of our customer in terms of
money and service. Being a successful company with
support of our 2000+ happy home loan customers we are
able to launch new offers and benefits to our customers.</p>
<p class="last-p">Loan Palace helps you in checking the legal clarity for your
property.
          </p>
        </div>
      </div>
      <div class="row">
        <!-- single-well start-->
        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft">
          <div class="about-img">
            <img src="./assets/img/about-us.jpg" alt="">
          </div>
        </div>
        <!-- single-well end-->
        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight">
            <div class="about-content">
            
              <h4>BENEFITS OF LOAN PALACE</h4>
              <ul>
                <li>
                  <i class="fa fa-check"></i> Work around the clock
                </li>
                <li>
                  <i class="fa fa-check"></i> Reduces time consumption
                </li>
                <li>
                  <i class="fa fa-check"></i> Proper guidance
                </li>
                <li>
                  <i class="fa fa-check"></i> One spot solution
                </li>
                <li>
                  <i class="fa fa-check"></i> Transparency
                </li>
                <li>
                  <i class="fa fa-check"></i> Effective work force
                </li>
                <li>
                  <i class="fa fa-check"></i> Saving home loan process charges
                </li>
                <li>
                  <i class="fa fa-check"></i> Time to time updates of interest rate which
                </li>
                <li>
                  <i class="fa fa-check"></i> saves your money
                </li>
              </ul>
            </div>
      
        </div>
        <!-- End col-->
      </div>
    </div>
  </div>
  <!-- End About area -->
<div class="our-profile">
  <div class="container title-margin">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>Our Profile</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Start contact icon column -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
                <i class="fas fa-chalkboard-teacher wow fadeInUp"></i>
                <h4>Vision</h4>
              <p>
                To be the best home loan service provider in  whole pune. Making home loan process hassle free  Sourcing the genuine customers for our bank.
              </p>
            </div>
          </div>
        </div>
        <!-- Start contact icon column -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="far fa-money-bill-alt wow fadeInUp"></i>
              <h4>Mission</h4>
              <p>
                Delivering excellent loan service  Brand awareness of LOAN PALACE in minds  of customer which looking for home loan.
              </p>
            </div>
          </div>
        </div>
        <!-- Start contact icon column -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="fas fa-laptop wow fadeInUp"></i>
              <h4>Value</h4>
              <p>
                Reliablity, Creative, Loyalty, Ethical
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
    <!-- Start Wellcome Area -->
  <div class="apply-area" id="apply">
      <div class="overly"></div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="apply-text">
                
                <div class="well-text text-center">
                  <h2>Get instant call back from our executive</h2>
                  <p>
                   Just fill below application form for apply online home loan.
                  </p>
                  <div class="apply-form">
                      <form>
                          <div class="form-row align-items-center">
                            <div class="col-auto">
                              <label class="sr-only" for="inlineFormInput">Name</label>
                              <input type="text" class="form-control" id="inlineFormInput" placeholder="Name">
                            </div>
                            <div class="col-auto">
                              <label class="sr-only" for="inlineFormInput">Contact</label>
                              <input type="text" class="form-control" id="inlineFormInput" placeholder="Contact">
                            </div>
                            <div class="col-auto">
                              <label class="sr-only" for="inlineFormInputGroup">Username</label>
                              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Your Email">
                            </div>
                            
                            <div class="col-auto">
                              <button type="submit" class="btn btn-warning">Apply</button>
                            </div>
                          </div>
                        </form>
                  </div>
                </div>
              </div>
            </div>
    </div>
</div>

