

<div id="demo" class="carousel slide" data-ride="carousel">
   
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li> 
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
       
      <div class="carousel-item active">
          <div class="overlay"></div>
        <img src="./assets/img/slider-b3.jpg" alt="Los Angeles">
        <div class="hero">
            <h1>Best Home Loan Service</h1>
            <h3>Get a best home loan service with our polite executive.</h3>
            <a class="btn btn-danger btn-lg" role="button" routerLink="/products">Get a Loan</a>
        </div>
      </div>
      <div class="carousel-item">
          <div class="overlay"></div>
        <img src="./assets/img/slider-b2.jpg" alt="Chicago">
        <div class="hero">
            <h1>Free Home Loan</h1>
            <h3>Loan Palace offers "Documents Pe Loan, Zero Matalab Zero".</h3>
            <button class="btn btn-danger btn-lg" role="button" routerLink="/products">Get a Loan</button>
        </div>
      </div>
      <div class="carousel-item">
          <div class="overlay"></div>
        <img src="./assets/img/slider-b1.jpg" alt="New York">
        <div class="hero">
            <h1>Refer & Earn</h1>
            <h3>1 Min = Rs. 5000.</h3>
            <a class="btn btn-danger btn-lg" role="button" routerLink="/referandearn">Refer Now</a>
        </div>
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
   
  </div>


  <!-- Start About area -->
<div id="about" class="title-margin about-us">
    <div  class="container">
      <div class="row wow fadeInDown">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>About Us</h2>
          </div>
          <div class="row team">
            <div class="col-12 col-md-6 mb-3">
              <div class="team-box">
                <h2>Mr. Atmaram Dighe<br><span>
                  Director (Loan Process)
                </span></h2>
                <p>Mr. Atmaram Dighe started LOAN PALACE in the 2016 as a Director and has since then led
                  LOAN PAPALCE into becoming the best choice for the home loan customers in Pune. Under
                  his leadership, the Company commenced its transformational journey, reaching out to
                  customers in Pune. He is graduated from Pune university by profession with total 10 year of
                  experience in home loan.</p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="team-box">
                    <h2>Mr. Vishal Kumar<br><span>
                      Director (Sales & Marketing)
                    </span></h2>
                    <p>MR. VISHAL KUMAR started LOAN PALACE in the 2016 as a Director and has since then led
                        LOAN PAPALCE into most preferred service provider for home loan in Pune. He is MBA in
                        
                        sales and marketing from Pune university. His total experience with home loan process is of 4
                        years.</p>
                </div>
          </div>
          </div>
          <p class="about-text">
            At Loan Palace we make the process of home loan simple ,
            quick &amp; hassle-free.</p>
            <p>   Loan palace is a authorized service provider for SBI HOME
LOAN &amp; HDFC HOME LOAN . It was started in the year
January 2012. LOAN PALACE is the first organized company
in pune to work for the benefits of our customer in terms of
money and service. Being a successful company with
support of our 2000+ happy home loan customers we are
able to launch new offers and benefits to our customers.</p>

        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft">
          <div class="about-img">
            <img src="./assets/img/about-us.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight">
            <div class="about-content">
            
              <h4>Benefits of Loan Palace</h4>
              <ul>
                <li>
                  <i class="fa fa-check"></i> Work around the clock
                </li>
                <li>
                  <i class="fa fa-check"></i> Reduces time consumption
                </li>
                <li>
                  <i class="fa fa-check"></i> Proper guidance
                </li>
                <li>
                  <i class="fa fa-check"></i> One spot solution
                </li>
                <li>
                  <i class="fa fa-check"></i> Transparency
                </li>
                <li>
                  <i class="fa fa-check"></i> Effective work force
                </li>
                <li>
                  <i class="fa fa-check"></i> Saving home loan process charges
                </li>
                <li>
                  <i class="fa fa-check"></i> Time to time updates of interest rate which saves your money
                </li>
                <li>
                  <i class="fa fa-check"></i> Checking the legal clarity for your property
                </li>
               
              </ul>
            </div>
      
        </div>
        <!-- End col-->
      </div>
    </div>
  </div>
  <!-- End About area -->
<div class="our-profile">
  <div class="container title-margin">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center wow fadeInDown">
            <h2>Our Profile</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
                <i class="far fa-eye wow fadeInUp"></i>
                <h4>Vision</h4>
              <p class="homep">
                To be the best home loan service provider in  whole pune. Making home loan process hassle free  Sourcing the genuine customers for our bank.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="far fa-dot-circle wow fadeInUp"></i>
              <h4>Mission</h4>
              <p class="homep">
                Delivering excellent loan service  Brand awareness of LOAN PALACE in minds  of customer which looking for home loan.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="fas fa-laptop wow fadeInUp"></i>
              <h4>Value</h4>
              <p class="homep">
                Reliablity, Creative, Loyalty, Ethical
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
<!--partner-->
  <div class="partner">
    <div class="container title-margin">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center wow fadeInUp">
              <h2>Authorized Partner</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="partner-wrap">
              <div class="partner-logo wow fadeInLeft">
                <img src="./assets/img/sbi-logo1.jpg">
              </div>
              <div class="partner-logo wow fadeInRight">
                <img src="./assets/img/hdfc-logo.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- apply -->
  <div class="apply-area" id="apply">
      <div class="overly"></div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="apply-text">
                
                <div class="well-text text-center wow fadeInUp">
                  <h2>Get instant call back from our executive</h2>
                  <p>
                   Just fill below application form for apply online home loan.
                  </p>
                  <div class="apply-form">
                     
                          <div class="form-row align-items-center">
                            <div class="col-auto">
                              <label class="sr-only" for="inlineFormInput">Name</label>
                              <input (keyup)="validateField()" [(ngModel)]="contactus.name" type="text" class="form-control" id="inlineFormInput" placeholder="Name">
                              <label  *ngIf="nameError==true" style="color: red">Please enter your name.</label>
                              <label *ngIf="nameError==false" style="color: red">&nbsp;</label>
                            </div>
                            <div class="col-auto">
                              <label class="sr-only" for="inlineFormInput">Mobile No</label>
                              <input (keyup)="validateField()" [(ngModel)]="contactus.mobilenumber" type="text" class="form-control" id="inlineFormInput" placeholder="Mobile No.">
                              <label *ngIf="mobilenoError==true" style="color: red">Please enter your mobile no.</label>
                              <label *ngIf="mobilenoError==false" style="color: red">&nbsp;</label>
                            </div>
                            <div class="col-auto">
                              <label class="sr-only" for="inlineFormInputGroup">Email</label>
                              <input (keyup)="validateField()" [(ngModel)]="contactus.email" type="text" class="form-control" id="inlineFormInputGroup" placeholder="Your Email">
                              <label *ngIf="emailError==true" style="color: red">Please enter your email id.</label>
                              <label *ngIf="emailError==false" style="color: red">&nbsp;</label>
                            </div>
                            
                            <div class="col-auto">
                                <label class="sr-only" for="inlineFormInputGroup"></label>
                              <button (click)="sendMessage()" class="btn btn-warning">Enquiry</button>
                              <label style="color: red">&nbsp;</label>
                            </div>
                          </div>
                         
                       
                  </div>
                   <div class="text-success" *ngIf="sucessMessage==true" id="sendmessage">Your message has been sent. Thank you!</div>
                </div>
              </div>
            </div>
    </div>
</div>
<div class="clearfix"></div>




